{% extends 'base.html' %}


{% block title %} Profile{% endblock %}


{% block content %}
<h1>User</h1>
<form method="POST" action="">
  {{ form.csrf_token() }}
  {{ form.email.label}}
  {{ form.email (value=g.user['username'], disabled="true")}}
  {{ form.password.label}}
  {{ form.password }}
  {{ form.new_password.label}}
  {{ form.new_password }}
  {{ form.confirm_new_password.label}}
  {{ form.confirm_new_password }}
  {{ form.submit }}

</form>

<h1>Booking</h1>
{% if booking %}
<details>
  <summary>
      Room {{booking['room_number']}}
  </summary>
  <p> {{date}} </p>
  <p> Time: {{ booking['from_time'].split(' ')[1] }} - {{booking['to_time'].split(' ')[1]}}</p>

  <p>Would you like to cancel your booking?</p>
  <form  action="{{url_for('booking.cancel')}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-danger">Cancel Booking</button>
  </form>
</details>

{% else %}
<p class="flash">

      You have no bookings - 
    <a href="{{url_for('booking.booking')}}">Find avaliable rooms</a>
</p>

{% endif %}

{% endblock %}