<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
</head>

  <body>
    <div class="header text-white">
      <img src="{{ url_for('static', filename='UIS.svg') }}" width="100" height="100" class="logo">
      <h1>UIS GRUPPEROM BOOKING </h1>
      <p>Velkommen til booking tjenesten av grupperom for studenter</p>
    </div>

    <nav>
      <ul>
        <li {% if not g.user %} class="mr-auto" {% endif %}>
            <a  title="Booking" id="home" href="{{ url_for('booking.booking') }}">
              Booking
          </a>
        </li>


        {% if g.user %}

          <li class="mr-auto">
            <a title="Profile" href="{{ url_for('auth.profile') }}">Profile</a>
          </li>

          <li>
              <a title="Sign Out" href="{{ url_for('auth.logout') }}">Sign Out</a>
          </li>

        {% else %}
          <li>
            <a title="Sign Up" href="{{ url_for('auth.register') }}">Sign up</a>
          </li>

          <li>

            <a title="Sign In" href="{{ url_for('auth.login') }}">Sign in</a>
          </li>
        {% endif %}

      </ul>

    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}

            <div class="flash {{category}}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </section>

	<footer>
		<p>Made by PROJ-DAT250@2021</p>
	</footer>

  </body>
</html>

