<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>

  <body>
    <div class="header text-white">
      <h1>UIS ROM BOOKING </h1>
      <p>Velkommen til booking tjenesten av grupperom for studenter</p>
    </div>

    <nav>

      <ul>
        <li><a title="Homepage" id="home" title="Homepage" href="{{ url_for('index') }}">
            Home
         </a></li>
		<li><a title="Bookingpage" id="Booking" title="Bookingpage" href="{{ url_for('booking.booking') }}">
            Booking
        </a></li>

        {% if g.user %}

          <li>
              <a title="Log Out" href="{{ url_for('auth.logout') }}">Sign Out</a>
          </li>

          <li>
            <a title="Profile" href="{{ url_for('auth.profile') }}">Profile</a>
          </li>

        {% else %}
          <li>
            <a title="Register" href="{{ url_for('auth.register') }}">Register</a>
          </li>

          <li>

            <a title="Log In" href="{{ url_for('auth.login') }}">Sign In</a>
          </li>
        {% endif %}

      </ul>

    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>


      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>

	<footer>
		<p>Made by PROJ-DAT250 @2021</p>
	</footer>

  </body>
</html>

