{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reservation{% endblock %}</h1>

{% endblock %}


{% block head %}
    <script type=text/javascript src="{{url_for('static', filename='../../static/booking.js') }}"></script>
{% endblock %}


{% block content %}

<form method="post">
  <label for="selectedDate" >Date</label>
  <input name="date" type="date" id="selectedDate">

  <label for="selectedTime" >Time</label>
  <select name="time" id="selectedTime">
    <option value="08">08:00 - 10:00</option>
    <option value="10">10:00 - 12:00</option>
    <option value="12">12:00 - 14:00</option>
  </select>

  <input type="submit" value="Show Avaliable Rooms">
</form>
<hr>
<p class="flash">
  Description about booking: maximum booking days..
</p>

{% for room in rooms %}
    <article class="room">
        <header>
            <div>
            <h1>{{room['room_number']}}</h1>
            <div class="date"> </div>
            </div>
            {% if g.user %}
            <a class="btn" value="Back" href="{{url_for('booking.confirm')}}">
              <input  class="btn-link" type="button" value="Book Room">
            </a>
            {% endif %}
            
        </header>
    </article>

  {% if not loop.last %}
    <hr>
  {% endif %}

{% endfor %}



{% endblock %}
