{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reservation{% endblock %}</h1>

{% endblock %}


{% block head %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{url_for('static', filename='../../static/booking.js') }}"></script>
{% endblock %}


{% block content %}

<form method="post">
  <label for="selectedDate" >Date</label>
  <input name="date" type="date" id="selectedDate" 
  {% if date%}
    value="{{date}}"
  {% else %} 
    value="{{today}}"
  {% endif %}
  min="{{today}}">

  <label for="selectedTime" >Time</label>
  <select name="time" id="selectedTime">
    <option value="08">08:00 - 10:00</option>
    <option value="10">10:00 - 12:00</option>
    <option value="12">12:00 - 14:00</option>
  </select>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="submit" value="Show Avaliable Rooms">
</form>
<hr>

{% for room in rooms %}
    <article class="room">
        <h1>{{room['room_number']}}</h1>
        <input class="btn-link" type="button" value="Book Room" name="{{room['room_number']}}" onclick="Confirm(this.name)">
    </article>
  {% if not loop.last %}
    <hr>
  {% endif %}

{% endfor %}

{% endblock %}
