{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Confirm Booking{% endblock %}</h1>

{% endblock %}


{% block content %}


    <form method="get">
        <label for="room" >Room</label>
        <input name="room" id="room">

        <label for="date" >Date</label>
        <input type="date" name="date" id="date">
        
        <label for="time" >Time</label>
        <select name="time" id="time">
            <option value="1">08:00 - 10:00</option>
            <option value="2">10:00 - 12:00</option>
            <option value="3">12:00 - 14:00</option>
        </select>

        <label for="comments">Additional Comments</label>
        <textarea name="comments" id="comments"></textarea>

        <div class="btn-group">
            <a class="btn" value="Back" href="{{url_for('booking.booking')}}">
                <input  class="btn-link" type="button" value="Back">
            </a>
            <input class="btn" type="submit" value="Confirm Booking">
        </div>
        </form>
    </form>
    

{% endblock %}
